nav{
    width: 100%;
    /* background: #333; */
    color: #fff;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Logo{
    width: 180px;
}
nav ul li{
    display: inline-block;
    list-style-type: none;
    margin: 5px 20px;
    font-size: 15px;
}
nav ul li:hover{
    cursor: pointer;
    color: rgb(173, 173, 173);
}
